{% extends 'base.html' %}
{% block customstyle %}
{% endblock %}
{% block title %}Adminisztráció{% endblock %}
{% block headtitle %}Adminisztráció{% endblock %}
{% block content %}
{% if current_user.haspermission('reload') %}
<a href="{{ url_for('reload') }}" class="btn btn-primary" role="button"><i class="bi bi-arrow-clockwise"></i> Újratöltés</a>
{% endif %}
{% if current_user.haspermission('reboot') %}
<a href="{{ url_for('reboot') }}" class="btn btn-warning" role="button"><i class="bi bi-arrow-clockwise"></i> Újraindítás</a>
{% endif %}
{% if current_user.haspermission('shutdown') %}
<a href="{{ url_for('shutdown') }}" class="btn btn-danger" role="button"><i class="bi bi-toggle-off"></i> Leállítás</a>
{% endif %}
{% if current_user.haspermission('disablebell') %}
{% if bellEnabled %}
<a href="{{ url_for('changeBellStatus') }}" class="btn btn-danger" role="button"><i class="bi bi-bell-slash"></i> Csengetés letiltása</a>
{% else %}
<a href="{{ url_for('changeBellStatus') }}" class="btn btn-success" role="button"><i class="bi bi-bell"></i> Csengetés engedélyezése</a>
{% endif %}
{% if customplaybackEnabled %}
<a href="{{ url_for('changeCustomplaybackStatus') }}" class="btn btn-danger" role="button"><i class="bi bi-volume-mute"></i> Csengetési renden kívüli bejátszások letiltása</a>
{% else %}
<a href="{{ url_for('changeCustomplaybackStatus') }}" class="btn btn-success" role="button"><i class="bi bi-volume-up"></i> Csengetési renden kívüli bejátszások engedélyezése</a>
{% endif %}
{% endif %}
{% if current_user.haspermission('disablemusic') %}
{% if musicEnabled %}
<a href="{{ url_for('changeMusicStatus') }}" class="btn btn-danger" role="button"><i class="bi bi-music-note"></i> Zene letiltása</a>
{% else %}
<a href="{{ url_for('changeMusicStatus') }}" class="btn btn-success" role="button"><i class="bi bi-music-note"></i> Zene engedélyezése</a>
{% endif %}
{% endif %}
{% if current_user.haspermission('announce') %}
<a href="{{ url_for('announce') }}" class="btn btn-warning" role="button"><i class="bi bi-mic-fill"></i> Bemondás</a>
{% endif %}
<p>Hangerő: {{ volume[0] }}%</p>
{% if current_user.haspermission('changevolume') %}
<form action="#" method="post">
<input type="range" name="volume" id="volume" class="form-range" min="0" max="100" onchange="this.form.submit()" value="{{ volume[0] }}">
</form>
{% endif %}
<p>Processzor hőmérséklete: {{ cputemp }}°C</p>
<p>Processzor kihasználtsága: {{ cpuload }}%</p>
<p>Tárhely kihasználtsága: {{ diskusage }}%</p>
<h2>Mai program</h2>
<table class="table">
    {% for event in events %}
    <tr>
        <td>{{ event.time.strftime("%H:%M") }}</td>
        <td>{{ event.sound }}</td>
        {% if current_user.haspermission("patterns") and current_user.haspermission("playbacks") %}
        <td>
            {% if current_user.haspermission("previewfiles") %}
            <a href="{{ url_for('playprogramme', id=events.index(event), time=event.time) }}" class="btn btn-primary" role="button"><i class="bi bi-play-fill"></i><span class="d-none d-sm-inline"> Lejátszás most</span></a>
            {% endif %}
            <a class="btn btn-danger" role="button" href="{{ url_for('deleteprogramme', id=events.index(event), time=event.time) }}"><i class="bi bi-trash"></i><span class="d-none d-sm-inline"> Törlés</span></a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
