{% extends 'base.html' %}
{% block customstyle %}
{% endblock %}
{% block title %}Jelszóváltoztatás{% endblock %}
{% block headtitle %}Jelszóváltoztatás{% endblock %}
{% block content %}

<form method="post" action="#">
    <div class="mb-3">
        <label for="pass" class="form-label">Új jelszó:</label>
        <input type="password" class="form-control" name="pass" id="pass" autofocus required>
    </div>
    <div class="mb-3">
        <label for="pass2" class="form-label">Új jelszó újra:</label>
        <input type="password" class="form-control" name="pass2" id="pass2" required>
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi bi-floppy"></i> Mentés</button>
</form>

{% endblock %}