{% extends 'base.html' %}
{% block customstyle %}
{% endblock %}
{% block content %}

<form method="post" action="#">
    <div class="mb-3">
        <input type="date" name="start" id="start" class="form-control" required> - <input type="date" name="end" id="end" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="pattern">Csengetési rend</label>
        <select name="pattern" id="pattern" class="form-select" required>
            {% for pattern in patterns %}
                <option value="{{ pattern[0] }}">{{ pattern[1] }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Mentés</button>
</form>

{% endblock %}
