{% extends 'base.html' %}
{% block customstyle %}
{% endblock %}
{% block title %}Csengetési rendek{% endblock %}
{% block headtitle %}Csengetési rendek{% endblock %}
{% block content %}
<a href="{{ url_for('createpattern') }}" class="btn btn-primary" role="button"><i class="bi bi-plus-lg"></i> Csengetési rend létrehozása</a>
<table class="table">
    <thead>
        <tr>
            <th>Név</th>
            <th>Leírás</th>
            <th>Műveletek</th>
        </tr>
    </thead>
    <tbody>
        {% for pattern in patterns %}
        <tr>
            <td>{{ pattern[1] }}</td>
            <td>{{ pattern[2] }}</td>
            <td>
                <a href="{{ url_for('viewschedule', id=pattern[0]) }}" class="btn btn-primary" role="button"><i class="bi bi-pencil"></i> Szerkesztés</a>
                <a class="btn btn-danger" role="button" href="{{ url_for('deletepattern', id=pattern[0]) }}"><i class="bi bi-trash"></i> Törlés</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}