{% extends 'base.html' %}
{% block customstyle %}
{% endblock %}
{% block title %}Fájlok{% endblock %}
{% block headtitle %}Fájlok{% endblock %}
{% block content %}
{% if previewplaying %}
<a href="{{ url_for('stoppreview') }}" class="btn btn-danger" role="button"><i class="bi bi-stop-fill"></i> Lejátszás leállítása</a>
{% endif %}
{% if current_user.haspermission('ringtones') or current_user.haspermission('music') or current_user.haspermission('files') %}
<a href="{{ url_for('uploadfile') }}" class="btn btn-primary" role="button"><i class="bi bi-upload"></i> Fájlok feltöltése</a>
{% endif %}
{% if current_user.haspermission('ringtones') %}
<h2>Csengőhangok</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fájl</th>
                <th>Hossz</th>
                <th>Műveletek</th>
            </tr>
        </thead>
        <tbody>
            {% for ringtone in ringtones %}
            <tr>
                <td>{{ ringtone[1] }}</td>
                <td>
                    {% if ringtone[2] %}
                    {{ ringtone[2] }} másodperc
                    {% endif %}
                </td>
                <td>
                    {% if current_user.haspermission("previewfiles") %}
                    <a href="{{ url_for('playasset', id=ringtone[0]) }}" class="btn btn-primary" role="button"><i class="bi bi-play-fill"></i> Lejátszás</a>
                    {% endif %}
                    <a href="{{ url_for('normalise', id=ringtone[0]) }}" class="btn btn-outline-primary" role="button"><i class="bi bi-soundwave"></i> Normalizálás</a>
                    <a class="btn btn-danger" role="button" href="{{ url_for('deleteasset', id=ringtone[0]) }}"><i class="bi bi-trash"></i> Törlés</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% if current_user.haspermission('music') %}
<h2>Zenék</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fájl</th>
                <th>Hossz</th>
                <th>Műveletek</th>
            </tr>
        </thead>
        <tbody>
            {% for music in musiclist %}
            <tr>
                <td>{{ music[1] }}</td>
                <td>
                    {% if music[2] %}
                    {{ music[2] }} másodperc
                    {% endif %}
                </td>
                <td>
                    {% if current_user.haspermission("previewfiles") %}
                    <a href="{{ url_for('playasset', id=music[0]) }}" class="btn btn-primary" role="button"><i class="bi bi-play-fill"></i> Lejátszás</a>
                    {% endif %}
                    <a href="{{ url_for('normalise', id=music[0]) }}" class="btn btn-outline-primary" role="button"><i class="bi bi-soundwave"></i> Normalizálás</a>
                    <a class="btn btn-danger" role="button" href="{{ url_for('deleteasset', id=music[0]) }}"><i class="bi bi-trash"></i> Törlés</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% if current_user.haspermission('files') %}
<h2>Egyéb fájlok</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fájl</th>
                <th>Hossz</th>
                <th>Műveletek</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file[1] }}</td>
                <td>
                    {% if file[2] %}
                    {{ file[2] }} másodperc
                    {% endif %}
                </td>
                <td>
                    {% if current_user.haspermission("previewfiles") %}
                    <a href="{{ url_for('playasset', id=file[0]) }}" class="btn btn-primary" role="button"><i class="bi bi-play-fill"></i> Lejátszás</a>
                    {% endif %}
                    <a href="{{ url_for('normalise', id=file[0]) }}" class="btn btn-outline-primary" role="button"><i class="bi bi-soundwave"></i> Normalizálás</a>
                    <a class="btn btn-danger" role="button" href="{{ url_for('deleteasset', id=file[0]) }}"><i class="bi bi-trash"></i> Törlés</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}