{% extends 'base.html' %}
{% block customstyle %}
{% endblock %}
{% block title %}Csengetési {% if type == 1%} rendek {% elif type == 2 %} dallamok{% endif %}{% endblock %}
{% block headtitle %}Csengetési {% if type == 1%} rendek {% elif type == 2 %} dallamok{% endif %}{% endblock %}
{% block content %}
<a href="{% if type == 1%}{{ url_for('createpattern') }}{% elif type == 2 %}{{ url_for('createringpattern') }}{% endif %}" class="btn btn-primary" role="button"><i class="bi bi-plus-lg"></i> Csengetési rend létrehozása</a>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Név</th>
                <th>Leírás</th>
                <th>Műveletek</th>
            </tr>
        </thead>
        <tbody>
            {% for pattern in patterns %}
            <tr>
                <td>{{ pattern[1] }}</td>
                <td>{{ pattern[2] }}</td>
                <td>
                    <a href="{% if type == 1%}{{ url_for('viewschedule', id=pattern[0]) }}{% elif type == 2 %}{{ url_for('viewringpattern', id=pattern[0]) }}{% endif %}" class="btn btn-primary" role="button"><i class="bi bi-pencil"></i> Szerkesztés</a>
                    <a class="btn btn-danger" role="button" href="{% if type == 1%}{{ url_for('deletepattern', id=pattern[0]) }}{% elif type == 2 %}{{ url_for('deleteringpattern', id=pattern[0]) }}{% endif %}"><i class="bi bi-trash"></i> Törlés</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}