{% extends 'base.html' %}
{% block customstyle %}
{% endblock %}
{% block title %}Felhasználók{% endblock %}
{% block headtitle %}Felhasználók{% endblock %}
{% block content %}
<a href="{{ url_for('register') }}" class="btn btn-primary" role="button"><i class="bi bi-person-plus"></i> Felhasználó létrehozása</a>
<table class="table">
    <thead>
        <tr>
            <th>Felhasználónév</th>
            <th>Műveletek</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user[1] }}</td>
            <td>
                {% if current_user.id|int == user[0] %}
                <a href="{{ url_for('changepassword') }}" class="btn btn-warning" role="button"><i class="bi bi-key"></i> Jelszóváltoztatás</a>
                {% endif %}
                <a class="btn btn-danger" role="button" href="{{ url_for('deleteuser', id=user[0]) }}"><i class="bi bi-person-x"></i> Törlés</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}