{% extends 'base.html' %}
{% block customstyle %}
{% endblock %}
{% block title %}Egyedi hangfájl beállítása{% endblock %}
{% block headtitle %}Egyedi hangfájl beállítása{% endblock %}
{% block content %}
<form action="#" method="POST">
    <table class="table">
        <thead>
            <tr>
                <th>Típus</th>
                <th>Idő</th>
                <th>Hangfájlok</th>
            </tr>
        </thead>
        <tbody>
            {% for event in schedule %}
            <tr>
                <td>
                    {% if event[1] == 1 %}
                        tanóra
                    {% endif %}
                </td>
                <td>
                    {{ event[2] }}
                    {% if event[3] != None %}
                         - {{ event[3] }}
                    {% endif %}
                </td>
                <td>
                    {% if event[1] == 1 %}
                        <label for="{{ event[0] }}start">Becsengetés:</label>
                        <select name="{{ event[0] }}start" id="{{ event[0] }}start" class="form-select">
                            <option value="null">Alapértelmezett</option>
                            {% for ringtone in ringtones %}
                                {% if ringtone[2] == 1 %}
                                <option value="{{ ringtone[0] }}"
                                    {% for file in customfiles %}
                                    {% if file[2] == event[0] and file[3] == '1' and file[1] == ringtone[0] %}
                                    selected
                                    {% endif %}
                                    {% endfor %}
                                >{{ ringtone[1] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="{{ event[0] }}reminder">Jelzőcsengetés:</label>
                        <select name="{{ event[0] }}reminder" id="{{ event[0] }}reminder" class="form-select">
                            <option value="null">Alapértelmezett</option>
                            {% for ringtone in ringtones %}
                                {% if ringtone[2] == 1 %}
                                <option value="{{ ringtone[0] }}"
                                {% for file in customfiles %}
                                {% if file[2] == event[0] and file[3] == '2' and file[1] == ringtone[0] %}
                                selected
                                {% endif %}
                                {% endfor %}
                                >{{ ringtone[1] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="{{ event[0] }}end">Kicsengetés:</label>
                        <select name="{{ event[0] }}end" id="{{ event[0] }}end" class="form-select">
                            <option value="null">Alapértelmezett</option>
                            {% for ringtone in ringtones %}
                                {% if ringtone[2] == 1 %}
                                <option value="{{ ringtone[0] }}"
                                {% for file in customfiles %}
                                {% if file[2] == event[0] and file[3] == '3' and file[1] == ringtone[0] %}
                                selected
                                {% endif %}
                                {% endfor %}
                                >{{ ringtone[1] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary"><i class="bi bi-floppy"></i> Mentés</button>
</form>

{% endblock %}