{% extends 'base.html' %}
{% block customstyle %}
{% endblock %}
{% block title %}Beállítások{% endblock %}
{% block headtitle %}Beállítások{% endblock %}
{% block content %}

<form method="post" action="#">
    <fieldset>
        <legend>Időzítési beállítások</legend>
        <div class="mb-3">
            <label for="classEndReminderMin" class="form-label">Jelzőcsengő a tanóra vége előtt:</label>
            <input type="number" name="classEndReminderMin" id="classEndReminderMin" class="form-control" required value="{{ settings['classEndReminderMin'] }}"> perccel
        </div>
        <div class="mb-3">
            <label for="musicFadeOut" class="form-label">Zene lekeverési idő:</label>
            <input type="number" name="musicFadeOut" id="musicFadeOut" class="form-control" required value="{{ settings['musicFadeOut'] }}"> másodperc
        </div>
    </fieldset>
    <fieldset>
        <legend>Dallamcsengetési beállítások</legend>
        <div class="mb-3">
            <label for="classStartAssetId" class="form-label">Becsengetéskor lejátszandó fájl:</label>
            <select name="classStartAssetId" id="classStartAssetId" class="form-select">
                <option value="">Ne legyen bejátszás</option>
                {% for ringtone in ringtones %}
                    <option value="{{ ringtone[0] }}" {{ 'selected' if ringtone[0] == settings['classStartAssetId'] }}>{{ ringtone[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="classEndReminderAssetId" class="form-label">Jelzőcsengetéskor lejátszandó fájl:</label>
            <select name="classEndReminderAssetId" id="classEndReminderAssetId" class="form-select">
                <option value="">Ne legyen bejátszás</option>
                {% for ringtone in ringtones %}
                    <option value="{{ ringtone[0] }}" {{ 'selected' if ringtone[0] == settings['classEndReminderAssetId'] }}>{{ ringtone[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="classEndAssetId" class="form-label">Kicsengetéskor lejátszandó fájl:</label>
            <select name="classEndAssetId" id="classEndAssetId" class="form-select">
                <option value="">Ne legyen bejátszás</option>
                {% for ringtone in ringtones %}
                    <option value="{{ ringtone[0] }}" {{ 'selected' if ringtone[0] == settings['classEndAssetId'] }}>{{ ringtone[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
    <fieldset>
        <legend>Fizikai csengetési beállítások</legend>
        <div class="mb-3">
            <label for="classStartRingpatternId" class="form-label">Becsengetéskor lejátszandó dallam:</label>
            <select name="classStartRingpatternId" id="classStartRingpatternId" class="form-select">
                <option value="">Ne legyen bejátszás</option>
                {% for ringpattern in ringpatterns %}
                    <option value="{{ ringpattern[0] }}" {{ 'selected' if ringpattern[0] == settings['classStartRingpatternId'] }}>{{ ringpattern[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="classEndReminderRingpatternId" class="form-label">Jelzőcsengetéskor lejátszandó dallam:</label>
            <select name="classEndReminderRingpatternId" id="classEndReminderRingpatternId" class="form-select">
                <option value="">Ne legyen bejátszás</option>
                {% for ringpattern in ringpatterns %}
                    <option value="{{ ringpattern[0] }}" {{ 'selected' if ringpattern[0] == settings['classEndReminderRingpatternId'] }}>{{ ringpattern[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="classEndRingpatternId" class="form-label">Kicsengetéskor lejátszandó dallam:</label>
            <select name="classEndRingpatternId" id="classEndRingpatternId" class="form-select">
                <option value="">Ne legyen bejátszás</option>
                {% for ringpattern in ringpatterns %}
                    <option value="{{ ringpattern[0] }}" {{ 'selected' if ringpattern[0] == settings['classEndRingpatternId'] }}>{{ ringpattern[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
    <fieldset>
        <legend>Adatbázisok</legend>
        <div class="mb-3">
            <label for="programmesDb" class="form-label">Programok adatbázisa:</label>
            <input type="text" name="programmesDb" id="programmesDb" class="form-control" required value="{{ settings['programmesDb'] }}">
        </div>
        <div class="mb-3">
            <label for="usersDb" class="form-label">Felhasználók adatbázisa:</label>
            <input type="text" name="usersDb" id="usersDb" class="form-control" required value="{{ settings['usersDb'] }}">
        </div>
        <div class="mb-3">
            <label for="uploadFolder" class="form-label">Fájlok feltöltése ebbe a mappába:</label>
            <input type="text" name="uploadFolder" id="uploadFolder" class="form-control" required value="{{ settings['uploadFolder'] }}">
        </div>
    </fieldset>
    <fieldset>
        <legend>FTP beállítások a zenék lekéréséhez</legend>
        <div class="mb-3 form-check">
            <input type="checkbox" name="musicFromFTP" id="musicFromFTP" class="form-check-input" value="1" {% if settings['musicFromFTP'] %}checked{% endif %}>
            <label for="musicFromFTP" class="form-check-label">Zenék letöltése FTP szerverről</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" name="FTPS" id="FTPS" class="form-check-input" value="1" {% if settings['FTPS'] %}checked{% endif %}>
            <label for="FTPS" class="form-check-label">FTP TLS</label>
        </div>
        <div class="mb-3">
            <label for="FTPHost" class="form-label">FTP szerver:</label>
            <input type="text" name="FTPHost" id="FTPHost" class="form-control" required value="{{ settings['FTPHost'] }}">
        </div>
        <div class="mb-3">
            <label for="FTPUser" class="form-label">FTP felhasználónév:</label>
            <input type="text" name="FTPUser" id="FTPUser" class="form-control" required value="{{ settings['FTPUser'] }}">
        </div>
        <div class="mb-3">
            <label for="FTPPassword" class="form-label">FTP jelszó:</label>
            <input type="password" name="FTPPassword" id="FTPPassword" class="form-control" required value="{{ settings['FTPPassword'] }}">
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary"><i class="bi bi-floppy"></i> Mentés</button>
</form>

{% endblock %}