{% extends 'base.html' %}
{% block customstyle %}
{% endblock %}
{% block title %}{{ pattern_name }} - Csengetési rend megtekintése{% endblock %}
{% block headtitle %}{{ pattern_name }} - Csengetési rend megtekintése{% endblock %}
{% block content %}
<a href="{{ url_for('addevent', patternid=patternid, eventtype=1) }}" class="btn btn-primary" role="button"><i class="bi bi-plus-lg"></i> Tanóra hozzáadása</a>
<a href="{{ url_for('addevent', patternid=patternid, eventtype=2) }}" class="btn btn-primary" role="button"><i class="bi bi-plus-lg"></i> Csengetés hozzáadása</a>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Típus</th>
                <th>Idő</th>
                <th>Fájl</th>
                <th>Műveletek</th>
            </tr>
        </thead>
        <tbody>
            {% for event in schedule %}
            <tr>
                <td>
                    {% if event[1] == 1 %}
                        tanóra
                    {% elif event[1] == 2 %}
                        csengetés
                    {% endif %}
                </td>
                <td>
                    {{ event[2] }}
                    {% if event[3] != None %}
                         - {{ event[3] }}
                    {% endif %}
                </td>
                <td>
                    {% if event[4] != None %}
                    {{ event[4] }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-danger" role="button" href="{{ url_for('deleteschedule', id=event[0], patternid=patternid) }}"><i class="bi bi-trash"></i> Törlés</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}